html {
	background: #CBE3A3;
}

.title, .board{
	margin-left: 100px;
}

.board {
	height: 600px;
	width: 600px;
	background: white;
	border: 1px solid black;
	float: left;
}


.column {
	height: 600px;
	width: 30px;
	float: left;
}

.square {
	height: 30px;
	width: 30px;
}

.square[occupant="snake"] {
	background: #666600;
}

.square[occupant="apple"] {
	background:url("Rat.jpg");
	background-size:30px 30px;
}

.instructions {
	margin-left: 20px;
	width: 90% - 600px;
	float: left;
	display: inline-block;
}

.game-over {
	text-align: center;
}

.score {
	width: 90% - 600px;
}
